@{
    ViewBag.Title = "Arvud";
}
<h2>@ViewBag.Title.</h2>


Siia tulevad arvud

@*Kardo kommentaar*@

Kardo katsetab

Jaagup katsetab

<ul>
    @foreach (var arv in ViewBag.arvud) {
        <li>@arv</li>
    }
</ul>